{% extends "views/base.fixed-width.html" %}
{% block content %}
<h2>All Cards</h2>

<h3>Filters</h3>
<form>
{{ filter() }}
</form>

<div id="view" class="row">
</div>
{% endblock %}

{% block css %}
{{ super() }}
<style>
{{ filter.stylesheet() }}
</style>
{% endblock %}

{% block js %}
{{ super() }}
<script>
$(function() {
    $('select').chosen();
    {# escape {{ and }} #}
    {{ filter.javascript() }}
    var cards = new models.CardList();
    $('#view').sortable({
        distance: 10,
        placeholder: 'card-placeholder',
        forcePlaceholderSize: true,
        helper: 'clone'
    });

    var CardView = Backbone.View.extend({
        tagName: 'div',
        className: 'well well-small span3',
        template: _.template($('#card-template').html()),
        events: {
            'click a': 'open_card',
            'click .caret': 'show_context_menu',
        },
        initialize: function() {
            this.listenTo(this.model, 'change', this.render);
            this.listenTo(this.model, 'destroy', this.remove);
            this.listenTo(this.model.tags, 'all', this.render);
            this.model.view = this;
        },
        render: function() {
            var m = this.model, $el = this.$el;
            var j = m.toJSON();
            j['tags'] = m.tags.toJSON();
            $el.html(this.template(j));
            $el.data({
                'view': this,
                'model': m,
            });
            $el.attr('data-id', m.id);
            return this;
        },
        show_context_menu: function(e) {
            var c = this.$el.find('.caret');
            context_menu.attach_card(this.model);
            context_menu.show(c);
            return false;
        },
        open_card: function(e) {
            e.preventDefault();
            card_form_view.show(this.model);
        }
    });

    var View = Backbone.View.extend({
        el: $('#view'),
        initialize: function() {
            this.listenTo(cards, 'add', this.addOne);
            this.listenTo(cards, 'reset', this.addAll);
        },

        addOne: function(card) {
            var v = new CardView({model: card});
            this.$el.append(v.render().el);
        },
        addAll: function(cards) {
            cards.each(this.addOne, this);
        }
    });

    var view = new View();

    {% for c in cards %}
    cards.add({{ c.__json__()|tojson|safe }});
    {% endfor %}
});
</script>
{% endblock %}
