{% extends "views/base.html" %}

{% block body %}
{% block content %}
<h2><span>{{ view.name }}</span><a href="#info" role="button" class="btn btn-link" data-toggle="modal"><i class="icon-info-sign"></i></a></h2>
<hr />
<div id="canvas-wapper"><div id="canvas">
{% block canvas %}{% endblock %}
</div></div>
<div id="info" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Information</h3>
    </div>
    <div class="modal-body">{% block info %}
        <h4>Filters</h4>
        <p>
        {% for f in view.filters%}
        <i class="icon-filter"></i> {{ f }} {% if not loop.last %}<br />{% endif %}
        {% else %}
        No filters are applied.
        {% endfor %}
        </p>

        <h4>Groups</h4>
        <p>
        {% for g in view.groups %}
        {{ order[g.order] }} level: <i class="icon-tag"></i> {{ g.tag.name }} {% if not loop.last %}<br />{% endif %}
        {% endfor %}
        </p>
        {% endblock %}</div>
    <div class="modal-footer">
        <a href="{{ url_for('views.edit', id=view.id) }}" class="btn btn-info">Update View</a>
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>
{% endblock %}
{% endblock %}

{% block css %}
{{ super() }}
<style>
h2 span {
    padding-left: 16px;
}
</style>
{% endblock %}

{% block js %}
{{ super() }}
{% endblock %}

