{% extends "base.html" %}
{% block css %}
{{ super() }}
<link href="/static/chosen/chosen/chosen.css" rel="stylesheet" media="screen">
<style>
#view-card {
    {% set width=820 %}
    width: {{ width }}px;
    {# must be half of the width, minus scrollbar on the left (30px) #}
    margin-left: -{{ width/2 - 30}}px;
    position: absolute;
}

#view-card .modal-body {
    max-height: none;
}
.navbar.context-menu {
    position: absolute;
    top: 0;
}
.has-caret i.caret {
    display: none;
}
.has-caret:hover i.caret {
    display: inline-block;
}
i.caret {
    cursor: pointer;
    margin: 8px 6px;
    border-top-color: #777777;
}
i.caret.active {
    display: inline-block;
    border-top-color: #000;
}
.dropdown-menu li > a {
    cursor: pointer;
}
div.well.well-small {
    width: 195px;
    float: none;
    display: inline-block;
    vertical-align: top;
}
div.well.well-small hr {
    margin: 5px 0;
}

.card-placeholder {
    background: #E3E3E3;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
}
</style>
<style>
.card-form .input-small {
    width: 80px;
}

.card-form legend {
    font-size: 16px;
}
.card-form i {
    margin-left: 6px;
    margin-right: 3px;
}
.card-form .btn i {
    margin-left: 0;
}
.card-form div.span7 div.control-group {
    margin-bottom: 0;
}
.card-form .form-horizontal .control-group {
    margin-bottom: 10px;
}
.card-form .form-horizontal .control-label {
    width:100px;
}
.card-form .form-horizontal .controls {
    margin-left: 110px;
}
.card-form .tags {
    margin-left: -110px;
}
.card-form .tags.error ul.chzn-choices {
    border-color: #B94A48;
}
.card-form textarea {
    resize:none;
    height: 350px
}
#view-card .modal-footer .pull-left {
    margin-top: 6px;
}
</style>
{% endblock %}

{% block bodyhelpers %}
{{ super() }}
<div id="view-card" class="modal hide fade">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button><h3>Card</h3></div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <div class="pull-left hide"><img src="/static/preloader/350.gif" /></div>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
    </div>
</div>

<div class="navbar context-menu"><ul class="nav"><li class="dropdown"><ul class="dropdown-menu context-menu">
    <li><a>Copy</a></li>
    <li class="dropdown-submenu"><a>Tags</a><ul class="dropdown-menu">
    </ul></li>
    <li><a data-action="delete">Delete</a></li>
</ul></li></ul></div>

{% set card_edit_url=get_url_rule('cards.edit', mustache=True) %}
<script type="text/template" id="card-template">
    <div class="pull-right"><i class="caret"></i></div>
    <strong><a href="{{ card_edit_url }}">{% raw %}{{name}}</a>{% if (is_complete) { %} <i class="icon-ok" title="Completed"></i>{% } %}</strong>
    <hr />
    <dl>
    {% if (planned_start || planned_finish || planned_hours) { %}
        <dt>Planned</dt>
        {% if (planned_start || planned_finish) { %}
            <dd>{{planned_start}} to {{planned_finish}}</dd>
        {% } %}
        {% if (planned_hours) { %}
            <dd>{{planned_hours}} hours</dd>
        {% } %}
    {% } %}
    {% if (actual_start || actual_finish || actual_hours) { %}
        <dt>Actual</dt>
        {% if (actual_start || actual_finish) { %}
            <dd>{{actual_start}} to {{actual_finish}}</dd>
        {% } %}
        {% if (actual_hours) { %}
            <dd>{{actual_hours}} hours</dd>
        {% } %}
    {% } %}

    {% _.each(tags, function(t) { %}
        <dd data-id="{{ t.id }}"><i class="icon-tags"></i> {{ t.tag_value }}</dd>
    {% }); %}

    </dl>
    <div class="pull-right">
    {% if (trello_id) { %} <i class="icon-download" title="Imported from Trello"></i> {% } %}
    </div>

    {% endraw %}
</script>
<script type="text/template" id="card-form-template">
<div class="row"><div class="span10">
<form method="post" class="card-form"><div class="row">
    {% from "forms/macros.html" import render_field %}
    {{ card_form.csrf_token }}
    <div class="span7">
        <div class="control-group">
        <div class="controls">
            <div class="input-append">
            {{ card_form.name(class='span7', style='width:430px', required='required') }}
            <span class="add-on">{{ card_form.is_complete.label(style='display:inline') }} {{ card_form.is_complete }}</span>
            </div>
        </div>
        </div>
        {{ render_field(card_form.description, class='span7', show_label=False, help='block') }}
    </div>
    <div class="span3 form-horizontal" style="margin-left:0;text-indent:6px;margin-top:-7px">
        <legend><i class="icon-calendar"></i>Dates</legend>
        {{ render_field(card_form.planned_start, class='input-small', type='date', help='block', **{'date-type': 'dateIso'}) }}
        {{ render_field(card_form.planned_finish, class='input-small', type='date', help='block', **{'date-type': 'dateIso'}) }}
        {{ render_field(card_form.actual_start, class='input-small', type='date', help='block', **{'date-type': 'dateIso'}) }}
        {{ render_field(card_form.actual_finish, class='input-small', type='date', help='block', **{'date-type': 'dateIso'}) }}

        <legend><i class="icon-time"></i>Hours</legend>
        {{ render_field(card_form.planned_hours, class='input-small', type='number', min=0, help='block') }}
        {{ render_field(card_form.actual_hours, class='input-small', type='number', min=0, help='block') }}

        <legend><i class="icon-tags"></i>Tags</legend>
        <div class="control-group tags"><div class="controls">
        <select class="input-large" id="tag_values" multiple name="tag_values"></select>
        </div></div>
        <br />
        <div class="control-group"><a class="btn"><i class="icon-list-alt"></i>Add Checklist...</a></div>
        <div class="control-group"><a class="btn"><i class="icon-file"></i>Copy...</a></div>
        <div class="control-group"><a class="btn"><i class="icon-folder-close"></i>Delete...</a></div>
    </div>
</div></form>

</div></div>
</script>
{% endblock %}

{% block js %}
{{ super() }}
<script src="/static/chosen/chosen/chosen.jquery.min.js"></script>
<script src="/static/jquery-ui/js/jquery-ui-1.10.1.custom.js"></script>

<script>
$(function() {
    context_menu = new (Backbone.View.extend({
        el:  $('.dropdown-menu.context-menu'),
        events: {
            'click a[data-action=delete]': 'delete_card'
        },
        attach_card: function(c) {
            if (this.card) {
                this.detach_card();
            }
            this.card = c;
            this.trigger('card:attach', this, c);
        },
        detach_card: function() {
            var c = this.card;
            this.card = null;
            this.trigger('card:detach', this, c);
        },
        delete_card: function() {
            var c = this.card;
            this.detach_card();
            c.destroy();
            this.hide();
        },
        show: function(caret) {
            this.$caret = $(caret);
            var o = this.$caret.addClass('active').offset();
            o.left -= 13;
            o.top += this.$caret.height() + 10;
            this.$el.css(o).show();
        },
        hide: function() {
            if (this.$carent) {
                this.$carent.removeClass('active');
            }
            this.$el.hide();
        }

    }))();

    card_form_view = new (Backbone.View.extend({
        el:  $('#view-card'),
        template: $('#card-form-template').html(),
        events: {
            'click .btn.btn-primary': 'save',
            'submit form': 'save'
        },
        initialize: function() {
            this.$body = this.$el.find('.modal-body');
            this.card = null;
            this.reset_changes();
        },
        reset_changes: function() {
            this.changes = {};
        },
        save: function() {
            if (!this.card || !this.$el.find('form').parsley('validate')) {
                return;
            }
            this.changes['tags'] = $('#tag_values').val();
            this.card.save(this.changes);
        },
        show: function(card) {
            var view = this;
            this.card = card;
            this.$body.html(this.template);
            var s = $('#tag_values');
            this.reset_changes();

            this.listenTo(card, 'change', this._card_changed);

            tags.each(function(t) {
                var elem = $('<option />').text(t.get('tag_value')).val(t.id);
                if (card.tags.get(t.id)) {
                    elem.attr('selected', 'selected');
                }
                s.append(elem);
            });

            _.each(card.attributes, function(v, k) {
                var elem = view.$body.find('[name=' + k + ']');
                if (elem.is(':checkbox')) {
                    if (v) {
                        elem.attr('checked', 'checked');
                    }
                } else {
                    elem.val(v);
                }
                elem.change(function() {
                    if (elem.is(':checkbox')) {
                        view.changes[k] = elem.is(':checked') ? elem.val() : null;
                    } else {
                        view.changes[k] = elem.val();
                    }
                });
            });

            this.$el.find('form').parsley({
                listeners: {
                    onFieldError: function(elem, constraints, field) {
                        if (elem.is('[name=name]')) {
                            elem.next('.parsley-error-list').hide();
                        }
                    }
                }
            });

            s.chosen();

            this.card.check_for_change();
            if (!this.card.isNew() && this.card.get('trello_id')) {
                this.showLoader();
            } else {
                this.hideLoader();
            }
            this.$el.modal('show');
        },
        showLoader: function() {
            this.$el.find('.modal-footer .pull-left').removeClass('hide');
        },
        hideLoader: function() {
            this.$el.find('.modal-footer .pull-left').addClass('hide');
        },
        hide: function() {
            this.$el.modal('hide');
            this.reset_changes();
            this.stopListening(this.card, 'change');
            this.card = null;
        },
        _card_changed:function(card) {
            var view = this;
            var body = this.$body;

            _.each(card.changed, function(v, k) {
                if (!_.has(view.changes, k)) {
                    var elem = body.find('[name=' + k + ']');

                    // if the active element is in the middle of changing something, escape
                    if (document.activeElement == elem[0] && elem.val() != card.previous(k)) {
                        return;
                    }

                    if (elem.is(':checkbox')) {
                        if (v) {
                            elem.attr('checked', 'checked');
                        } else {
                            elem.removeAttr('checked');
                        }
                    } else {
                        elem.val(v);
                    }
                }
            });

            $('#tag_values').val(card.tags.map(function(t) { return t.id}))
                            .trigger('liszt:updated');

            this.hideLoader();
        }

    }))();

    $('a[href="{{ get_url_rule('cards.new') }}"]').click(function() {
        var c = new models.Card({{empty_card.__json__()|tojson|safe}});
        card_form_view.show(c);
        return false;
    });

    $('html').on('click', function() {
        context_menu.hide();
    });

    models.Tag = Backbone.Model.extend({});
    models.TagList = Backbone.Collection.extend({ model: models.Tag });

    models.Card = Backbone.Model.extend({
        urlRoot: '{{ get_url_rule('cards.index', mustache=True) }}',
        initialize: function(attr) {
            if (!attr) {
                attr = {tags:[]};
            }
            this.tags = new models.TagList(attr.tags);
            this.unset('tags', {silence: true});
        },
        check_for_change: function() {
            if (this.get('trello_id')) {
                $.post(this.url() + '/check_for_change');
            }
        }
    });

    models.CardList = Backbone.Collection.extend({
        model: models.Card,
        initialize: function() {
            this.listenTo(stream.onmessage, 'card:add', this._add);
            this.listenTo(stream.onmessage, 'card:destroy', this._remove);
            this.listenTo(stream.onmessage, 'card:sync', this._sync);
        },
        _add:function(data, e) {
            return this.add(data);
        },
        _sync: function(data, e) {
            var c = this.get(data.id);
            if (c) {
                c.tags.update(data.tags, {silence: true});
                c.set(data);
            }
        },
        _remove: function(data, e) {
            var c = this.get(data.id);
            if (c) {
                c.trigger('destroy');
                this.remove(c);
            }
        },
    });

    tags = new models.TagList();

    var ContextTagValueView = Backbone.View.extend({
        tagName: 'li',
        {% raw %}
        template: _.template('<a><i class="icon-ok pull-right hide"></i>{{ tag_value }}</a>'),
        {% endraw %}
        events: {
            'click a': 'toggle_value',
        },
        initialize: function() {
            this.listenTo(this.model, 'check', this.check);
            this.listenTo(this.model, 'uncheck', this.uncheck);
        },
        toggle_value: function() {
            var c = context_menu.card;
            var d = this.model.toJSON();
            d['attach'] = this.$el.find('.icon-ok').hasClass('hide');

            $.post(Mustache.render('{{ get_url_rule('cards.tags', mustache=True) }}', c.toJSON()), d, function (ret) {
                c.tags.update(ret.tags);
            });

            {% block tag_click_return %}return false;{% endblock %}
        },
        check: function() {
            this.$el.find('.icon-ok').removeClass('hide');
        },
        uncheck: function() {
            this.$el.find('.icon-ok').addClass('hide');
        },
        render: function() {
            this.$el.html(this.template(this.model.toJSON()));
            return this;
        }
    });

    var context_tags_view = new (Backbone.View.extend({
        el: context_menu.$el.find('.dropdown-submenu ul.dropdown-menu'),
        initialize: function() {
            this.listenTo(tags, 'add', this.addOne);
            this.listenTo(context_menu, 'card:attach', this._card_attached);
            this.listenTo(context_menu, 'card:detach', this._card_detached);
        },
        addOne: function(tag_value) {
            var v = new ContextTagValueView({model: tag_value});
            this.$el.append(v.render().el);
        },
        addAll: function() {
            context_tags.each(this.addOne, this);
        },
        _card_attached: function(menu, card) {
            this.listenTo(card, 'change', this._card_changed);
            this.set_tags(card.tags);
        },
        _card_detached: function(menu, card) {
            this.stopListening(card, 'change');
        },
        _card_changed: function(card) {
            this.set_tags(card.tags);
        },
        set_tags: function(_tags) {
            this.$el.find('i.icon-ok').addClass('hide');
            _tags.each(function(t) {
                var t = tags.get(t.id);
                if (t) {
                    t.trigger('check');
                }
            });
        }
    }))();

    {% for t in all_tags %}
    tags.add({{ t.__json__()|tojson|safe }});
    {% endfor %}
});
</script>
{% endblock %}
