{% extends "base.fixed-width.html" %}

{% block content %}
<h2>Manage Views</h2>
<div class="row">
    <div class="span6">
        <table class="table table-striped">
            <thead><tr>
                <th>View</th>
                <th>Type</th>
                <th><i class="icon-cog"></i></th>
            </tr></thead>
            <tbody>
{% for v in views %}
                <tr>
                    <td><a href="{{ url_for('views.view', id=v.id) }}">{{ v.name }}</a></td>
                    <td>{{ v.type|capitalize }}</td>
                    <td>
                        <a href="{{ url_for('views.edit', id=v.id) }}" class="btn btn-mini">Update</a>
                        <a href="{{ url_for('views.delete', id=v.id) }}" class="btn btn-mini btn-danger">Remove</a>
                    </td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="span6"><a class="btn" href="{{ url_for('views.new') }}">New View</a></div>
</div>
{% endblock %}
