{% extends "views/base.full-width.html" %}

{% block css %}
{{ super() }}
<style>
#canvas {
    padding-right: 20px;
}
#canvas > div {
    background-color: #FBFBFB;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    width: 260px;
}
#canvas > div > h3 {
    font-size: 17.5px;
    overflow: hidden;
    padding: 0 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
</style>
{% endblock %}

{% block bodyhelpers %}
{{ super() }}
<script type="text/template" id="list-template">
    {% raw %}
    <h3 title="{{value}}">{{value}}</h3>
    <div class="cards"></div>
    {% endraw %}
</script>
{% endblock %}

{% block js %}
{{ super() }}
<script>
$(function() {
    $('#canvas').sortable({
        distance: 10,
        placeholder: 'card-placeholder',
        forcePlaceholderSize: true,
        helper: 'clone',
        items: '> div > div.cards > div[data-id]',
        update: function(e, kwargs) {
            var m = kwargs.item.data('model');
            var sender = m.list;
            var receiver = kwargs.item.parent().parent().data('view').cards;

            if (sender == receiver) { // order has changed
            } else {
                sender.remove(m);
                var at = m.view.$el.parent().children().index(m.view.$el);
                m.view.$el.remove();
                receiver.add(m, {at: at});
                m.tags.remove(sender.tag);
                m.tags.add(receiver.tag);
                m.save({tags: m.tags.map(function(t) {return t.id})});
            }
        }
    });
    var tag_list = new models.TagList();
    var cards = new (models.CardList.extend({
        _sync:function(data, e) {
            var c = this.get(data.id);
            if (c) {
                c.tags.update(data.tags, {silence: true});
                c.set(data);
            } else {
                this._add(data, e);
            }
        },
        _add:function(data, e) {
            var accept = false;
            _.each(data.tags, function(t) {
                var _t = tag_list.get(t.id);
                if (_t) {
                    accept = true;
                    return false;
                }
            });

            if (!accept) {
                return;
            }

            this.add(data);
        }
    }))();

    var _CardList = models.CardList.extend({
        initialize: function() {
            this.listenTo(this, 'add', this._add_listener);
            this.listenTo(this, 'remove', this._remove_listender);
        },
        _add_listener: function(card) {
            card.list = this;
            this.listenTo(card, 'change', this._card_change);
        },
        _remove_listender: function(card) {
            delete card.list;
            this.stopListening(card, 'change', this._card_change);
        },
        _card_change: function(card) {
            if (!card.tags.get(this.tag.id)) {
                this.remove(card);
                card.view.$el.remove();
                card.tags.each(function(t) {
                    if (tag_list.get(t.id)) {
                        tag_list.get(t.id).view.cards.add(card);
                        return false;
                    }
                });
            }
        }
    });

    var CardView = Backbone.View.extend({
        tagName: 'div',
        className: 'well well-small span3',
        template: _.template($('#card-template').html()),
        events: {
            'click .caret': 'show_context_menu',
            'click a[href]': 'open_card'
        },
        initialize: function() {
            this.listenTo(this.model, 'change', this.render);
            this.listenTo(this.model, 'destroy', this.remove);
            this.listenTo(this.model.tags, 'all', this.render);
            this.model.view = this;
        },
        render: function() {
            var m = this.model, $el = this.$el;
            var j = m.toJSON();
            j['tags'] = m.tags.toJSON();
            $el.html(this.template(j));
            $el.data({
                'view': this,
                'model': m,
            });
            $el.attr('data-id', m.id);
            return this;
        },
        show_context_menu: function(e) {
            var c = this.$el.find('.caret');
            context_menu.attach_card(this.model);
            context_menu.show(c);
            return false;
        },
        open_card: function(e) {
            e.preventDefault();
            card_form_view.show(this.model);
        }
    });

    var ListView = Backbone.View.extend({
        tagName: 'div',
        className: 'span4',
        template: _.template($('#list-template').html()),
        initialize: function() {
            this.cards = new _CardList();
            this.cards.tag = this.model;
            this.model.view = this;
            this.listenTo(cards, 'add', this.addCard);
            this.listenTo(this.cards, 'add', this.renderCard);
            this.listenTo(this.model, 'change', this.render);
        },
        render: function() {
            var m = this.model
            var $el = this.$el;
            var j = m.toJSON();
            $el.html(this.template(j)).data('view', this);
            this.cards.$el = this.$el.find('.cards');
            this.$el.data({
                view: this,
                model: this.model,
            });
            return this;
        },
        addCard: function(card) {
            var m = this.model;
            var found = card.tags.find(function(t) { return m.id == t.id});
            if (found) {
                this.cards.add(card);
            }
        },
        renderCard: function(card, collection , option) {
            var v = new CardView({model: card});
            if (_.isNumber(option.at)) {
                var prev = this.cards.$el.children(':eq(' + option.at + ')');

                if (prev.length) {
                    prev.before(v.render().el);
                    return;
                }
            }

            this.cards.$el.append(v.render().el);
        }
    });

    var View = Backbone.View.extend({
        el: $('#canvas'),
        initialize: function() {
            this.listenTo(tag_list, 'add', this.addOne);
            this.list_width = false;
        },
        addOne: function(tag) {
            var v = new ListView({model: tag});
            tag.view = v;
            this.$el.append(v.render().el);
            if (!this.list_width) {
                this.list_width = v.$el.outerWidth() + 20;
            }
            this.$el.css('width', tag_list.size() * this.list_width);
        },
        addAll: function() {
            cards.each(this.addOne, this);
        }
    });

    var view = new View();

    {% for t in view.get_tags(0) %}
    tag_list.add({{t.__json__()|tojson|safe}});
    {% endfor %}

    {% for c in view.get_cards(0) %}
    cards.add({{ c.__json__()|tojson|safe }});
    {% endfor %}


});
</script>
{% endblock %}
{% block tag_click_return %}e.preventDefault();{% endblock %}
