{% extends "base.fixed-width.html" %}

{% block css %}
{{ super() }}
<link href="/static/chosen/chosen/chosen.css" rel="stylesheet" media="screen">
<style>
#groups tbody tr:nth-child(1) {
    display: none;
}
{{ filter.stylesheet() }}
</style>
{% endblock %}

{% block content %}
<div class="row"><div class="span10 offset1">
<h2>{% if view and view.id %}Edit{% else %}New{% endif %} View</h2>
<form method="POST"  class="form-horizontal">
{% from "forms/macros.html" import render_field %}
{{ form.csrf_token }}
{{ render_field(form.name, class="input-xlarge") }}
{{ render_field(form.type) }}
<div>
<label class="control-label">Filter Cards On</label>
{{ filter(submit=False, class="controls") }}
</div>
{{ render_field(form.groups) }}
<div class="controls">
    <input type="submit" value="Save" class="btn btn-primary">
    {% if view and view.id %} <a href="{{ url_for('views.view', id=view.id) }}" class="btn">Cancel</a>
    {% else %} <a href="{{ url_for('views.index') }}">All Views</a> {% endif %}
</div>
</form>

</div></div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="/static/chosen/chosen/chosen.jquery.min.js"></script>
<script>
$(function() {
    $('select[name^=groups]').filter(':eq(0)').chosen().end()
                             .filter(':gt(0)').chosen({allow_single_deselect: true});
     $('input[name=type]:radio').change(function() {
        var val = $(this).val(), allow = {
            'list': 1,
            'tree': 5,
        };
        $('#groups tr:gt(0)').show().slice(allow[val]).hide();

     }).filter(':checked').change();
    {{ filter.javascript() }}
});
</script>

{% endblock %}

