{% extends "views/base.full-width.html" %}

{% block css %}
{{ super() }}
<style>
.jstree-default.jstree-focused {
    background-color: #fff !important;
}
ins.jstree-icon.card {
    background-image: url(/static/bootstrap/img/glyphicons-halflings.png);
    background-position: -312px -72px !important;
}
</style>
{% endblock %}

{% block js %}
{{ super() }}
<script src="/static/jstree/jquery.jstree.js"></script>
<script type="text/javascript" src="/static/jstree/_lib/jquery.hotkeys.js"></script>
<script>
$(function() {
    var tree = $('#canvas');
    tree.on('tags', 'li', function(e, tags, added, removed) {
        e.stopPropagation();
        var updated = _.union(added, removed);
        var instance = $.jstree._reference(tree);
        _.each(updated, function(t) {
            tree.find('li.jstree-open[data-tag-id=' + t.tag_id + ']').each(function() {
                // Funny that instance.refresh(); restores all opened nodes successfully
                instance.refresh(this);
            });
        });
    }).on('clean_node.jstree', function (e, data) {
        data.rslt.obj.filter('[data-href]:not(:has(i.caret))').each(function() {
            $('<i />').addClass('caret').appendTo(this);
            $(this).addClass('has-caret');
        });
    }).jstree({
        'plugins' : ['themes', 'json_data', 'ui', 'hotkeys', 'dnd', 'crrm'],
        {# disable rename and remove key events #}
        'hotkeys': {
            'f2': false,
            'del': false
        },
        'crrm': {
            'move': {
                'check_move': function(m) {
                    {# dragging a tag || dropping into a card  #}
                    if ($(m.o).data('tag-id') || (!$(m.r).data('tag-id') && m.p == 'inside')) {
                        return false;
                    }
                    return true;
                }
            }
        },
        'json_data': {
            'data': {{ view.get_nodes(0)|tojson|safe }},
            'ajax' : {
                'data': function(node) {
                    // get path
                    var p = [];

                    node.parentsUntil('.jstree', 'li').each(function () {
                        p.push($(this).data('id'));
                    });

                    p.reverse();
                    p.push(node.data('id'));
                    var data = node.data();
                    data['values'] = p;

                    return data;
                },
                'url' : '{{ url_for('views.tree', id=view.id) }}'
            }
        }
    });
});
</script>
{% endblock %}
{% block tag_click_return %}e.preventDefault();{% endblock %}
