{% macro render_field(field, show_label=True, help='inline', group_class=None) %}
<div class="control-group{% if field.errors %} error{% endif %}{% if group_class %} {{ group_class }}{% endif %}">
{% if show_label %}{{ field.label(class="control-label") }}{% endif %}
<div class="controls">
{{ field(**kwargs) }}
{% if field.errors %}
<span class="help-{{ help }}">{% for error in field.errors %}<span>{{ error|e }}</span>{% endfor %}</span>
{% endif %}
</div>
</div>
{% endmacro %}
