{% extends "base.fixed-width.html" %}
{% block content %}
<h2>Import Cards From Trello</h2>
<form method="post">
<div id="tree"></div>
<div class="form-actions"><button class="btn btn-primary">Import selected items</button></div>
</form>
{% endblock %}

{% block css %}
{{ super() }}
<style>
.jstree-default.jstree-focused {
    background-color: #fff !important;
}
ins.jstree-icon.organization {
    background-image: url(/static/bootstrap/img/glyphicons-halflings.png);
    background-position: 0 -23px !important;
}
ins.jstree-icon.board {
    background-image: url(/static/bootstrap/img/glyphicons-halflings.png);
    background-position: -240px 1px !important;
}
ins.jstree-icon.list {
    background-image: url(/static/bootstrap/img/glyphicons-halflings.png);
    background-position: -336px -47px !important;
}
ins.jstree-icon.card {
    background-image: url(/static/bootstrap/img/glyphicons-halflings.png);
    background-position: -312px -71px !important;
}
</style>
{% endblock %}

{% block js %}
{{ super() }}
<script src="/static/jstree/jquery.jstree.js"></script>
<script type="text/javascript" src="/static/jstree/_lib/jquery.hotkeys.js"></script>
<script>
$(function() {
    var tree = $('#tree').jstree({
        plugins : ['themes', 'json_data', 'ui', 'hotkeys', 'checkbox'],
        {# disable rename and remove key events #}
        hotkeys: {
            f2: false,
            del: false
        },
        json_data: {
            data: {{ nodes|tojson|safe }},
            ajax : {
                url: '{{ url_for('cards.import_child_nodes') }}',
                data: function(n) {
                    return { id: n.attr ? n.attr('id').replace('node_','') : -1 }
                }
            }
        }
    });

    $('form').on('submit', function() {
        var instance = $.jstree._reference(tree);
        var checked = instance.get_checked();
        var that = this;

        if (!checked.length) {
            alert('Please check at least one');
            return false;
        }
        _.each(checked, function(item) {
            $('<input type="hidden" name="items" />').val(item.id).appendTo(that);
        });
    });
});
</script>
{% endblock %}
