{% extends "base.fixed-width.html" %}

{% block content %}
<h2>Manage Tags</h2>
<div class="row">
    <div class="span6">
        <table class="table table-striped">
            <thead><tr>
                <th>Tag</th>
                <th>Required</th>
                <th>Multiple</th>
                <th><i class="icon-cog"></i></th>
            </tr></thead>
            <tbody>
{% for t in tags %}
                <tr>
                    <td><a href="{{ url_for('tags.values', tag=t.id) }}">{{ t.name }}</a></td>
                    <td>{% if t.required %}<i class="icon-ok"></i>{% endif %}</td>
                    <td>{% if t.multiple %}<i class="icon-ok"></i>{% endif %}</td>
                    <td>
                        <a href="{{ url_for('tags.values', tag=t.id) }}" class="btn btn-mini">Values</a>
                        <a href="{% if t.read_only %}#{% else %}{{ url_for('tags.edit', tag=t.id) }}{% endif %}" class="btn btn-mini{% if t.read_only %} disabled{% endif %}">Update</a>
                    </td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
    {% if tag %}
    {% if debug and tag.read_only %}
    {% set show_trello_id = True %}
    {% endif %}
    <div class="span6">
        <table class="table table-striped">
            <thead><tr>
                <th>Value for "{{ tag.name }}"</th>
                {% if show_trello_id %}
                <th>Trello ID</th>
                {% endif %}
                <th><i class="icon-cog"></i></th>
            </tr></thead>
            <tbody>
{% for v in tag.values %}
                <tr>
                    <td>{{ v.value }}</td>
                    {% if show_trello_id %}
                    <td>{{ v.trello_id }}</td>
                    {% endif %}
                    <td><a href="{{ url_for('tags.edit_value', tag=tag.id, value=v.id) }}" class="btn btn-mini{% if tag.read_only %}{% if not debug %} disabled{% endif %}{% endif %}">Update</a></td>
                </tr>
{% else %}
                <tr><td colspan="{% if show_trello_id %}3{% else %}2{% endif %}"><em>Empty values. Please add a value.</em></td></tr>
{% endfor %}

            </tbody>
        </table>
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="span6"><a class="btn" href="{{ url_for('tags.new') }}">New Tag</a></div>
    {% if tag and not tag.read_only %}
    <div class="span6"><a class="btn" href="{{ url_for('tags.new_value', tag=tag.id) }}">New Value</a></div>
    {% endif %}
</div>
{% endblock %}

