{% extends "base.fixed-width.html" %}

{% block content %}
<h2>{% block title %}New value for {{ tag.name }}{% endblock %}</h2>
{% from "forms/macros.html" import render_field %}
<form method="POST" action="{% block form_action %}{{ url_for('tags.new_value', tag=tag.id) }}{% endblock %}" class="form-horizontal">
{{ form.csrf_token }}
{{ render_field(form.value) }}

<div class="control-group">
    <div class="controls"><input type="submit" value="Save" class="btn btn-primary"> <a href="{{ url_for('tags.values', tag=tag.id) }}" class="btn">Cancel</a></div>
</div>
</form>
{% endblock %}
