{% extends "base.fixed-width.html" %}

{% block content %}
<h2>{% block title %}New Tag{% endblock %}</h2>
{% from "forms/macros.html" import render_field %}
<form method="POST" action="{% block form_action %}{{ url_for('tags.new') }}{% endblock %}" class="form-horizontal">
{{ form.csrf_token }}
{{ render_field(form.name) }}
{{ render_field(form.required) }}
{{ render_field(form.multiple) }}

<div class="control-group">
    <div class="controls"><input type="submit" value="Save" class="btn btn-primary"> <a href="{{ url_for('tags.index') }}" class="btn">Cancel</a></div>
</div>
</form>
{% endblock %}
