<!DOCTYPE html>
<html lang="en">
<head>
<title>TaskCard</title>
{% block css %}
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style>
.nav .new-card > a {
    display: inline-block;
    padding-right: 0 !important;
}
.nav .new-card > a.dropdown-toggle {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
body {
    padding-top: 40px;
}
</style>
{% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <ul class="nav pull-right">
            {% if is_authenticated %}
            <li><a class='logout' href="{{ url_for('logout') }}">You are logged in as <span id="full_name">...</span></a></li>
            <li class="dropdown new-card">
                <a href="{{ url_for('cards.new') }}"><i class="icon-edit"></i> Create New Card</a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('cards.new') }}">Create New Card</a></li>
                    <li><a href="{{ url_for('cards.import_') }}">Import Cards</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-th-large"></i> Views <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('views.all_cards') }}">All Cards</a></li>
                    <li class="divider"></li>
                    {% for v in all_views %}
                    <li><a href="{{ url_for('views.view', id=v.id) }}">{{ v.name }}</a></li>
                    {% endfor %}
                    <li class="divider"></li>
                    <li><a href="{{ url_for('views.new') }}">Create New Views</a></li>
                    <li><a href="{{ url_for('views.index') }}">Manage Views</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('tags.index') }}">Tags</a></li>
                    <li><a href="{{ url_for('views.index') }}">Views</a></li>
                    <li><a href="{{ url_for('users') }}">Users</a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login with Trello</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% block body %}{% endblock %}

{% block bodyhelpers %}{% endblock %}

{% block js %}
{% if debug %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
{% else %}
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
{% endif %}
<script src="/static/underscore/underscore.js"></script>
<script src="/static/mustache/mustache.js"></script>
<script src="/static/backbone/backbone.js"></script>
<script src="/static/parsley/parsley.js"></script>
<script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
<script>
{% raw %}
_.templateSettings = {
    evaluate: /\{\%(.+?)\%\}/g,
    interpolate: /\{\{(.+?)\}\}/g,
    escape: /\{\{-(.+?)\}\}/g
};
{% endraw %}
$(function() {
    {# escape {{ and }} #}
    {% raw %}
    $(document).ajaxError(function(e, xhr, settings, error) {
        var html = '<div class="modal hide fade" tabindex="-1" role="dialog"><div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button><h3>Error {{status}} -- {{statusText}}</h3></div><div class="modal-body"><p>{{responseText}}</p></div><div class="modal-footer"><button class="btn" data-dismiss="modal">Close</button></div></div>';
        $(Mustache.render(html, xhr)).appendTo('body').modal().on('hidden', function() {
            $(this).remove();
        });

    });
    {% endraw %}

    {% if is_authenticated %}
    window.stream = new SockJS('http://' + location.host  + location.pathname + '/streaming'{% if debug %}, null, {debug: true}{% endif %});
    stream.onopen = function(e) {
        console.log('open', e);
    };
    stream.onmessage = function(e) {
        console.log('message', e);
        var d = e.data;
        this.onmessage.trigger(d.type + ':' + d.action, d.data, e);
    };

    stream.onclose = function(e) {
        console.log('close', e);
    };

    {# extending onopen, onmessage and onclose to accept events #}
    _.each(['onopen', 'onmessage', 'onclose'], function (e) {
        _.extend(stream[e], Backbone.Events);
    });

    window.models = {};

    models.User = Backbone.Model.extend({
        defaults: {
            id: -1,
            trello_username: null,
            full_name: null,
            email: null,
        }
    });

    var me = new models.User();

    me.listenTo(stream.onmessage, 'me:sync', function(data) {
        me.set(data);
    });
    me.on('change:full_name', function() {
        $('#full_name').text(this.get('full_name'));
    });
    {% endif %}
});
</script>
{% endblock %}
</body>
</html>
