{% extends "base.html" %}
{% block body %}
<div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<br /><br />
{% for category, message in messages %}
<div class="alert {% if category == 'message' %}alert-info{% else %}alert-{{ category }}{% endif %}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
</div>
{% endblock %}

