{% extends "base.fixed-width.html" %}

{% block content %}
<h1>Welcome</h1>
<p class="important">You need to have a Trello login and authenticate with Trello before you continue.</p>
<div>
    <a href="{{ url_for('login') }}" class="btn btn-info">Login with Trello</a>
</div>
{% endblock %}

